*~
*.o
*.lo
*.gmo
autom4te.cache
Info.plist
Makefile
config.h
config.log
config.status
lxdream.1
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
src/aica/.deps/
src/aica/.dirstamp
src/audio_alsa.so
src/audio_pulse.so
src/audio_sdl.so
src/cocoaui/.deps/
src/drivers/.deps/
src/drivers/.dirstamp
src/drivers/cdrom/.deps/
src/drivers/cdrom/.dirstamp
src/drivers/mac_keymap.h
src/gdrom/.deps/
src/gdrom/.dirstamp
src/gtkui/.deps/
src/gtkui/.dirstamp
src/liblxdream-core.a
src/lxdream
src/lxdream_dummy.so
src/maple/.deps/
src/maple/.dirstamp
src/pvr2/.deps/
src/pvr2/.dirstamp
src/pvr2/shaders.def
src/pvr2/shaders.h
src/sh4/.deps/
src/sh4/.dirstamp
src/sh4/sh4core.c
src/sh4/sh4dasm.c
src/sh4/sh4stat.c
src/sh4/sh4x86.c
src/test/.deps/
src/tools/.deps/
src/tools/Makefile
src/tools/gendec
src/tools/genglsl
src/tools/genmach
src/version.c
src/vmu/.deps/
src/vmu/.dirstamp
src/xlat/.deps/
src/xlat/.dirstamp
src/xlat/disasm/.deps/
src/xlat/disasm/.dirstamp
stamp-h1
test/Makefile
